.Track {
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-row {
  display: flex;
  align-items: center;
}

.Track-artwork {
  margin: 0.5rem;
}

.Track-player {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}